@import "../../theme/common";

.topSection {
  display: flex;
}

.daysLeft {
  font-size: 40px;
}

.title {
  font-weight: 500;
}

.divider {
  max-width: 1120px;
  margin: 70px auto 40px;
  border-top: 1px solid #9f9595;
  opacity: 50%;
  width: 100%;
}

.bottomSection {
  color: $color_darkBrown;
  font-family: "Source Serif 4", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.daysLeft,
.title,
.dateTime {
  text-transform: uppercase;
}

.title {
  font-size: 40px;
}

.dateTime {
  margin-bottom: 24px;
  font-size: 30px;
}

.location {
  font-size: 26px;
  font-style: italic;
}

.footNote {
  font-size: 20px;
  font-style: italic;
}
