@import "../../theme/common";

.bgWrapper {
  background-image: url("../../assets/container/flower_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
  min-height: 100vh;
}

.container {
  max-width: 1200px;

  @include media-breakpoint-up(xl) {
    padding: 0 43px;
  }

  @include media-breakpoint-down(xl) {
    padding: 0 40px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 25px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 16px;
  }
}
