@import "../../theme/common";

.gallery {
  display: grid;
  grid-gap: 62px;
  grid-template-columns: repeat(3, 1fr);

  @include media-breakpoint-down(xl) {
    grid-gap: 16px;
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
