@import "../../theme/common";

.venueImage {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.headerImage {
  margin: 50px auto;
  display: block;
}

.information {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  font-style: italic;

  > section {
    flex: 1 1 50%;
    text-align: center;

    @include media-breakpoint-down(lg) {
      font-size: 2.5vw;
    }

    > div {
      &:first-of-type {
        margin-bottom: 10px;
      }
    }

    &:first-of-type {
      border-right: 1px solid #000;
    }
  }
}

.notes {
  ul {
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 10px;
      list-style-type: none;
      list-style-position: outside;
      padding-left: 30px;
      position: relative;

      svg {
        position: absolute;
        top: 5px;
        left: 0;
      }
    }
  }
}

.spaceBelow {
  margin-bottom: 10px;
}
