@import "../../theme/common";

.section {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  margin-bottom: 30px;

  > img {
    max-width: 48%;

    @include media-breakpoint-down(md) {
      max-width: 100%;
      width: 100%;
    }
  }

  @include media-breakpoint-up(xl) {
    gap: 90px;
  }

  @include media-breakpoint-down(lg) {
    gap: 20px;
  }

  @include media-breakpoint-down(md) {
    gap: 15px;
    flex-direction: column;
  }
}

.mobileReverse {
  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
  }
}

figure {
  flex: 1 1 auto;
  margin: 0;

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }
}

figcaption {
  text-align: center;
  color: #918585;
}

.container_text {
  flex: 1 1 56%;
  > div {
    margin-bottom: 12px;
  }
}

h3 {
  margin: 0 0 16px;
  font-size: 26px;
  font-weight: 400;

  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}

.image_grid {
  display: grid;
  gap: 20px 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  margin-bottom: 48px;

  img {
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
