h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  letter-spacing: 3px;
}

.faqSection {
  max-width: 664px;
  margin: 0 auto 50px;
  font-size: 16px;
  color: #736666;

  h3 {
    font-size: 26px;
    text-align: center;
  }
}

.underline {
  text-decoration: underline;
  color: #eba3ca;
}

.link {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.centered {
  text-align: center;
}
