@import "../../theme/common";

.mobileMenu {
  cursor: pointer;
  position: absolute;
  top: 56px;
  left: 16px;

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #736666;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.navbar {
  padding: 16px 0px 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .closeMenu {
    display: none;
    border: 0;
    background: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: 40px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 50px;
  }

  a.homeLink {
    font-family: "Parisienne", cursive;
    font-size: 28px;
    color: $color_gold;
    text-decoration: none;
  }

  @include media-breakpoint-down(md) {
    .closeMenu {
      display: block;
      position: absolute;
      top: 24px;
      left: 16px;
    }

    &.mobileMenuOpen {
      .itemsWrapper {
        transform: translateY(0);
      }
    }

    .itemsWrapper {
      position: absolute;
      inset: 0;
      background: white;
      z-index: 1000;
      flex-direction: column;
      padding-top: 78px;

      transform: translateY(-100%);
      transform-origin: top;
    }
  }

  ul {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    transition: transform 400ms ease-in-out;
  }

  li {
    list-style: none;

    &.mobileOnly {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    a {
      text-align: center;
      text-decoration: none;
      color: #918585;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 16px;

      display: flex;
      justify-content: center;
    }
  }
}
